<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>442757339922-51qthkk90vqs9h5kaa1ur4grv9oamf31.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442757339922-51qthkk90vqs9h5kaa1ur4grv9oamf31</string>
	<key>API_KEY</key>
	<string>AIzaSyBl3Cdn5o2NuikTqPpjV82t-io2i992kBo</string>
	<key>GCM_SENDER_ID</key>
	<string>442757339922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterStorageFirebase</string>
	<key>PROJECT_ID</key>
	<string>flutter-storage-e8a3d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-storage-e8a3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442757339922:ios:0af991f6dcff8223a731cb</string>
</dict>
</plist>